@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

/*header*/
.header {
  padding-top: 46px;
  background-color: #F1F1F1;

}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 76px;
}

.logo {
  position: relative;
  padding-right: 12px;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: #000000;


}

.logo::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #FDA300;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

/*nav*/

.nav-list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;

}

.nav-link {
  color: #000000;
}

.nav-link.active {
  color: #606060;
}

/*Header-content*/

.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.header-heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 44px;
}

.header-content {
  max-width: 500px;
  margin-top: 124px;
}

.header-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}

/*Service*/

.services {
  padding: 90px 0;
}

.sevices-row {
  display: flex;
  column-gap: 30px;
}

.service-card-img {
  margin-bottom: 30px;
}

.service-card-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.service-card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
}

/*portfolio*/
.portfolio {
  padding: 90px 0;
  background: #F1F1F1;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 70px;

}

.title-1 {
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
}

.project {
  text-align: center;

}

.project+.project {
  margin-top: 90px;
}

.project-img {
  margin-bottom: 40px;
}

.project-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-decoration-line: underline;
}

.project-title a {
  color: #070707;
}

/*contacts*/

.contacts {
  padding: 90px 0;
  text-align: center;
}

.contacts-title {

  margin-bottom: 40px;
}

.contacts-content {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.contacts-content p+p {
  margin-top: 1em;
}

.contacts-button {
  margin-bottom: 80px;
}

.button {
  display: inline-block;
  border-radius: 30px;
  background-color: #070707;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  padding: 7px 22px;
  transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.button:hover,
.button:focus {
  background-color: #323232;
}

.button:active {
  position: relative;
  top: 1px;
  background-color: #000000;

}

.contacts-social {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  margin-bottom: 40px;
  align-items: center;
}

.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  color: #828282;
}